{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="login">
    <div class="login-screen">
        <div class="login-icon">
            <img src="/static/icon.png" alt="Welcome to Mail App">
            <h4>Welcome to <small>Mail App</small></h4>
        </div>

        <div class="login-form" style="background:#16A085;margin-top:-50px">
            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name">-->
                <!--<label class="login-field-icon fui-user" for="login-name"></label>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" autocomplete="off" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">-->
                <!--<label class="login-field-icon fui-lock" for="login-pass"></label>-->
            <!--</div>-->

            <!--<a class="btn btn-primary btn-lg btn-block" href="#" id="login">Log in</a>-->
            <!--<a class="login-link" href="#">Want to register?</a>-->
{{wtf.quick_form(form)}}
<script type="text/javascript">
$('input#submit').addClass('btn-primary btn-lg btn-block')
</script>
<a class="login-link" href="#">Don't have an account?</a>
        </div>
    </div>
</div>
{% endblock %}
