<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ blogname}}</title>
        <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
        <meta property="og:image" content="http://sonnyt.com/assets/imgs/prettySocial.png" /> 
        <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
        <!-- Loading Bootstrap -->
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="/static/rotate.css" rel="stylesheet">
        <link href="/static/demo.css" rel="stylesheet">
        <script src="/static/jquery.min.js"></script>
        <link rel="shortcut icon" href="{{ head_image }}">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
        <script src="dist/js/vendor/html5shiv.js"></script>
        <script src="dist/js/vendor/respond.min.js"></script>
        <![endif]--><link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
        <script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
        <script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>
        <style>
            #content img{max-width:80%;display:block;margin-left:auto;margin-right:auto}
            #posttitle {font-family:"Georgia", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", "SimSun", sans-serif}
        </style>
    </head>

    <body>
        <div class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0px">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="/">{{ blogname }}</a>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == "/" %} class="active" {% endif %}><a href="/">主页</a></li>
                        {% if current_user.is_authenticated() %}
                        <li {% if request.path == "/edit" %} class="active" {% endif %}><a href="/edit">设置</a></li>

                        <li {% if request.path == "/post" %} class="active" {% endif %}><a href="/post">写文章</a></li>

                        {% endif %}
                        {% if tags %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown">标签 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for tag in tags.split(',')%}
                                <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>

                        </li>
                        {% endif %}

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated() %}
                        <li><a href="/auth/logout">登出</a></li>
                        {% else %}
                        <li {% if request.path == "/auth/login" or request.path == '/auth/register' %} class="active" {% endif %}><a href="/auth/login" >登入</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container-fluid" style="padding-left:0px;padding-right:0px">
            <div class="demo-headline" style="background:linear-gradient(to top,rgba(0,0,0,0.8) 0,rgba(0,0,0,0.0001) 100%),url({{ background }});box-shadow:0 6px 10px #666;padding-bottom:20px">
                <h1 class="demo-logo" style="font-family:'Georgia', 'Xin Gothic', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', 'SimSun', sans-serif; color:white;">
                    <div class="logo" style="background: url({{ head_image }}) center no-repeat;background-size:200px 200px"></div>
                    {{ blogname }}
                    <small style="color:gray;width:40%;margin-left:auto;margin-right:auto">{{ about_me }}</small> </h1>
            </div> <!-- /demo-headline -->
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            <div class="container" style="margin-bottom:50px" id="content">
                <h2>{{ title }}</h2>
                {{ body | safe}}

                {%if request.path == '/'%}
                {% for po in posts %}
                <h2 id="posttitle">{{po.timestamp.strftime('%d, %b, %y')}}//<a href="/p/{{po.id}}">{{po.title}}</a></h2>
                {% endfor %}
                {% endif %}

                {% block page_content%}{% endblock%}
                {% if request.path[0:3] == '/p/' %}

                <div class="text-right">
                    <small>标签 {% for ta in posttags.split(',') %} 
                        <a href=" /tag/{{ ta }}">
                            <span class="label label-info">{{ ta }}</span>
                        </a>{% endfor %}
                    </small>
                </div>
                {% if current_user.is_authenticated() %}
                <div class="row">
                    <div class="col-md-offset-10 col-md-2">
                        <a role="button" class="btn btn-info" href="/editpost/{{ request.path[3:]}}">编辑</a>
                        <a role="button" class="btn btn-danger" href="/delete/{{ request.path[3:]}}">删除</a>
                    </div>
                </div>

                {% endif %}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'echo-blog';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                {% endif %}


            </div><!-- /.container -->

            <script src="/static/video.js"></script>
            <script src="/static/flat-ui.min.js"></script>
            <script src="/static/application.js"></script>
            <link href="/static/flat-ui.css" rel="stylesheet">
        </body>
        <footer style="position:static;bottom: 0;
            width: 100%;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-7">
                        <h3 class="footer-title">
                            This blog is powered by <u><a href="https://github.com/ceclinux/echo" target="_blank">Echo</a></u>, inspired by <u><a href="https://github.com/RicterZ/pyprint" target="_blank">Pyprint</a></u>  and  <u><a href="https://github.com/miguelgrinberg/flasky">Flasky</a></u>.

                        </h3>
                        <p>
                            <a href="http://flask.pocoo.org/" target="_blank"><img src="http://flask.pocoo.org/static/logo/flask.svg" alt="http://flask.pocoo.org/" height="30px"></a>&nbsp;&nbsp;
                            <a href="http://designmodo.github.io/Flat-UI/" target="_blank"><img src="http://designmodo.github.io/Flat-UI/docs/assets/img/demo/logo-mask.png" height="30px"></a>&nbsp;&nbsp;
                            <a href="http://heroku.com" target="_blank"><img src="http://upload.wikimedia.org/wikipedia/en/a/a9/Heroku_logo.png" height="30px"></a>
                        </p>
                    </div> <!-- /col-xs-7 -->

                    <div class="col-xs-5">
                        <div class="footer-banner" style="min-height:100px">
                            <h3 class="footer-title">Contacts</h3>
                            <ul>
                                <li>Email<a href="mailto:{{ email }}"><address>{{ email }}</address></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </html>
